<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
				       https://www.springframework.org/schema/beans/spring-beans.xsd
				       http://www.springframework.org/schema/tx
				       https://www.springframework.org/schema/tx/spring-tx.xsd
				       http://www.springframework.org/schema/context
				       https://www.springframework.org/schema/context/spring-context.xsd
				       http://www.springframework.org/schema/mvc
				       https://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- ApplicationContext.xml  是spring 全局配置文件，用来控制spring 特性的 -->
	
	<!-- 注解扫描 -->
	<!--  <context:component-scan base-package="app.run.**"></context:component-scan>	-->
	<context:component-scan base-package="app.run.service"></context:component-scan> 
</beans>